body{
width:80%;

}
h1{
background-color:black;
color:white;
text-align:center;
padding-top:8px;
padding-bottom:0px;

}
address{
margin-left:30px;

}
table.meta{
margin-left:30px

}
table.meta th{
width:100px;
text-align:left;
}
table.meta td{
width:100px;

}
table.balance{
margin-left:30px

}
table.balance th{
width:100px;
text-align:left;
}
table.balance td{
width:100px;

}
table.inventory th{
text-align:left;

}
